.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f5f5f5; */
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.card-title {
  font-weight: 300;
}

.lgn-btn {
  font-size: 14px;
  margin-top: 20px;
}

.login-form {
  width: 400px;
  margin: 20px;
  margin-top: 90px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}

label {
  font-weight: 600;
  color: #666;
}
body {
  background: #f1f1f1;
}
.box8 {
  box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3 {
  margin-top: -3rem;
}

.form-wrapper {
  width: 400px;
  margin: auto;

  background-color: #f2efee;

  border-radius: 11px;
}

.login-title {
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
}

.btn--form {
  background-color: #f48982;
  color: #fdf2e9;
  align-self: end;
  padding: 8px;
}

button {
  outline: 1px solid #f48982;
}

.btn--form:hover {
  background-color: #fdf2e9;
  color: #f48982;
}
